.content{
    display: flex;
    z-index: 0;

    &__title{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 180px 40px;
    }
    &__title-text{
        &:hover{
            cursor: pointer;
            color: #1cb5b0;
        }
    }

    &__products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 80px 40px;
    }
}